:root
{
	--radius: 6px;
	--lineWidth: 6px;
}

.canvas
{
	position:absolute;
	left: 0px;
	top: 0px;
	width: 800px;
	height: 600px;
	z-index: 10;
}

.logo
{
	position:absolute;
	left: 100px;
	top: 100px;
	height: 600px;
	opacity: 1;
}